body {
  background-color: lavender;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

header {
  background-color: lavender;
  color: rgb(83, 175, 250);
  text-decoration: underline coral;
  width: 100%;
  border-radius: 10px;
  padding: 2px;
  transition-duration: 0.6s;
}

header:hover {
  color: coral;
  text-decoration: underline rgb(83, 175, 250);
}
.flex-container {
  display: flex;

  /* border: 1px solid; remove later */
}

.button {
  background-color: coral;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border: 1px coral solid;
  margin-bottom: 1px;
  border-radius: 20px;
}
.button:hover {
  background-color: lavender;
  color: #000000;
}
.button:active {
  background-color: rgb(83, 175, 250);
}
.submit {
  float: right;

  margin-top: 1px;
}

.book {
  float: right;
  padding: 8px 12px;
  border-radius: 18px;
  margin-top: 1px;
}

.flex-container div {
  /* border: 1px solid rgb(83, 175, 250); */
  border-radius: 10px;
  padding: 10px;
}

.left-side {
  flex: 1; /*this decides the size of box */
  background-color: lavender;
  color: black;
}

/* .left-side > .my-form > .form-group {
  border: 1px solid rgb(83, 175, 250);
} */

.my-form input[type="text"] {
  color: #555;
  padding: 8px;
  width: 85%;
  border: 2px coral solid;
  border-radius: 10px;
}

.my-form input[type="date"] {
  color: #555;
  padding: 8px;
  width: 85%;
  border: 2px coral solid;
  border-radius: 10px;
}
.right-side {
  flex: 5;
  background-color: white;
}

#ib1 {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  float: left;
  color: coral;
  padding: 2px;
  width: 80%;
}
.ib2 {
  color: coral;
}

.flex-container-2 {
  display: flex;
  background-color: lightgrey;
  margin-bottom: 3px;
}
img {
  border-radius: 16px;
}
